.publish-course {
    margin-left: 10px;
}

.card {
    flex-wrap: wrap;

}

.card .card-body .card-title a {
    text-decoration: none;
    color: black;
}

.new-course .list-group-item {
    flex-wrap: wrap;
}