.navigation-bar {
  border-radius: 0px;
  text-align: center;
  margin-left: 10px;
  background: black;
  height: 100vh;
}

.navigation-bar a {
  
  background: black;
  color: white;
  border: none;
  border-radius: 0px;
}

.n-symbol {
  text-align: center;
  background: black;
  margin-left: 10px;
  color: white;
  font-size: 50px;

}

.n-symbol img {
  width: 80px;

}
.navigation-bar .symbol {
  color: red;
}

.navigation-bar a.list-group-item.active {
  background-color: white;
  color: red;
}